{% set posts = __SELF__.posts %}


<div class="container-fluid">
    <div class="card-columns">

{% for post in posts %}

        <div class="card">
            {% if post.imgs.count %}
                <div class="featured-images text-center">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for image in post.imgs %}
                                <div class="swiper-slide">
                                    <img 
                                        class="card-img-top" 
                                        data-src="{{ image.filename }}"
                                        src="{{ image.path }}"
                                        alt="{{ image.description }}"
                                        >
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            {% endif %}
            
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.desc|raw }}</p>
                <p>
                {% for tag in post.tags %}
                    <span>{{tag.name}}</span>&nbsp;
                {% endfor %}
                </p>
                <p class="card-text"><small class="text-muted">发布于 {{ post.published_at|date('Y/m/d H:i') }}</small></p>
                
            </div>
        </div>
    {% else %}
        <div class="no-data">{{ noPostsMessage }}</div>
    {% endfor %}

    </div>
</div>

{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}
